@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "ubuntu", sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.preload * {
  transition: none !important;
}

.nav {
  align-items: center;
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #DEE2E6;
}
.nav__logo {
  color: #2A2921;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}
.nav__button {
  background-color: #FA9600;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 1rem;
}
.nav__button a {
  text-decoration: none;
  color: #fff;
}
.nav__button:hover {
  background-color: #f09000;
}
.nav__item {
  color: #DEE2E6;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 3rem;
  transition: all 0.3s;
}
.nav__item--active {
  color: #2A2921;
}
.nav__item:hover {
  color: #2A2921;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 12rem;
}
.filter__header {
  color: #FA9600;
  margin-bottom: 2rem;
  font-weight: 500;
}
.filter__option {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
}
.filter__titleBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.filter__block {
  font-weight: normal;
  display: none;
  margin-bottom: 1rem;
}
.filter__block label {
  margin-left: 0.5rem;
}
.filter__block--active {
  display: block;
}
.filter__btn {
  border: none;
  cursor: pointer;
  background-color: #FA9600;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  transition: all 0.4s;
  font-weight: 500;
  font-size: 1rem;
}
.filter__btn:hover {
  background-color: #f09000;
}
.filter__expand {
  cursor: pointer;
}

main {
  display: flex;
  padding-top: 2rem;
}

.feed {
  width: 100%;
  margin-left: 3rem;
}
.feed a {
  text-decoration: none;
}
.feed__header {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.feed__item {
  width: 100%;
  border-bottom: 4px solid white;
  padding: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  color: black;
}
.feed__item:hover {
  background-color: #FFF2DE;
  border-bottom: 4px solid #FFF2DE;
  border-radius: 1rem;
}
.feed__title {
  color: #FA9600;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.feed__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.feed__expand {
  color: #FA9600;
  font-size: 2.5rem;
}
.feed__distance {
  margin-right: 22rem;
}

.registration {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registration__header {
  margin-bottom: 1rem;
}
.registration__btn {
  margin-top: 1rem;
  background-color: #FA9600;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}
.registration__btn:hover {
  background-color: #f09000;
}
.registration__field {
  display: block;
}

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__header {
  margin-bottom: 1rem;
}
.login__btn {
  margin-top: 1rem;
  background-color: #FA9600;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}
.login__btn:hover {
  background-color: #f09000;
}
.login__field {
  display: block;
}

.race {
  display: flex;
  margin-bottom: 3rem;
}
.race__header {
  width: 700px;
  border-radius: 10px;
}
.race__form {
  flex: 1;
}
.race__form button {
  background-color: #4C6FFF;
  border: none;
  font-weight: 500;
  font-size: 12px;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  display: block;
  margin-top: 1rem;
}
.race__form button a {
  color: white;
  text-decoration: none;
}
.race__form button:nth-child(2) {
  background-color: #C4C4C4;
  margin-top: 1rem;
}
.race__form button:nth-child(2):hover {
  background-color: #bfbfbf;
}
.race__form button:hover {
  background-color: #4267ff;
}
.race__infoBlock {
  margin-top: 2rem;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 10px;
  padding: 7px;
}
.race__signUpBlock {
  background-color: #E4ECF7;
  padding: 24px;
  border-radius: 16px;
}
.race__title {
  color: #2A2921;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.race__info {
  color: #425466;
  margin-right: 1.5rem;
}
.race__time {
  color: #4C6FFF;
  margin-right: 1.5rem;
}
.race__subTitle {
  font-width: 500;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.race__text {
  width: 650px;
  font-weight: 400;
  color: #425466;
  margin-top: 1rem;
}
.race__distanceBlock {
  margin-top: 2rem;
}
.race__distanceBlock p {
  font-width: 500;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.race__distance {
  width: 33rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  border-bottom: 3px solid white;
  padding: 1rem 0;
}
.race__distance i {
  color: #FA9600;
}
.race__distance:last-child {
  border-bottom: none;
  margin-bottom: 5rem;
}
.race__btn {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #505780;
  font-size: 12px;
  font-weight: 500;
}
.race__btn i {
  margin-right: 6px;
}
.race__favBtn {
  background-color: #E4ECF7;
}
.race__shareBtn {
  border: 1px solid black;
}
.race__infoItem {
  width: 49%;
  display: inline-block;
  margin-top: 1.5rem;
}
.race__infoTitle {
  font-size: 16px;
  font-weight: 600;
  color: #2A2921;
  margin-bottom: 0.5rem;
}
.race__infoContent {
  font-size: 14px;
  font-width: 400;
  color: #425466;
}
.race__description {
  margin-right: 4rem;
}

.user {
  display: block;
}

.chat {
  width: 100%;
  display: flex;
}
.chat__previousMessages {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.chat__messageSection {
  width: 70%;
}
.chat__input {
  width: 80%;
}
.chat__submit {
  width: 19%;
}
.chat__profile {
  width: 30%;
  text-align: center;
}

.message {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
}
.message--own {
  background-color: blue;
  align-self: flex-end;
}
.message--other {
  background-color: grey;
}

/*# sourceMappingURL=styles.css.map */
