.nav {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid $navGrey;
    &__logo {
        color: $lightBlack;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: bold;
    }
  &__button {
    background-color: $orange;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
      margin-right: 1rem;
      a {
          text-decoration: none;
          color: #fff;
      }
    &:hover {
      background-color: darken($orange, 2);
    }
  }
    &__item {
        color: $navGrey;
        text-decoration: none;
        font-size: 1rem;
        margin-left: 3rem;
        transition: all .3s;
        &--active {
            color: $lightBlack;
        }
        &:hover {
            color: $lightBlack;
        }
    }
}
