$lightGrey: #E5E5E5;
$grey: #C4C4C4;
$orange: #FA9600;
$lightBlack: #2A2921;
$lightOrange: #FFF2DE;
$white: #fff;

$navGrey: #DEE2E6;
$raceInfo: #425466;
$raceTime: #4C6FFF;
$favBtn: #E4ECF7;
$btnText: #505780;




